{{- if eq .chezmoi.hostname "percival" -}}
# Force vaapi+opengl
# NOTE: libva-intel is broken on wayland, so no vaapi :(
# It isn't maintained anymore and the protocol it used (wl_drm) was deprecated.
hwdec=vaapi
gpu-api=opengl
{{- else if eq .chezmoi.hostname "aurora" }}
hwdec=vaapi
{{- else }}
hwdec=auto
{{- end }}
