{{- if eq .wm "x11" -}}
copy-to-clipboard-command "xsel -ib"
{{- else }}
copy-to-clipboard-command "wl-copy"
{{- end }}

bind a mark-read
bind u mark-unread
bind U mark-unread-all
bind d exec st yt-dlp '%l'
bind v exec st mpv '%l'
bind w exec curl -L --compressed -o "/home/tom/media/inbox/daily.mp3" "%l"
#bind a exec st mpv --no-video '%l'
