helix/.config/helix/runtime
*.zwc
.*.zwc
.zcomp*
**/newsraft/feeds
**/mpd/database
**/supervise
**/bin/bun
**/bin/yt-dlp
**/bin/xonsh*
history*

*haskell*
*ghc*
*hpc*
*cabal*
*haddock*
*hp2ps*
*hsc2hs*
scripts/.local/bin/stack*
