[main]
font=CommitMono Nerd Font Mono:size=9
include=/home/tom/.config/foot/catppuccin-merged.ini
{{- if eq .colors "dark" }}
initial-color-theme=dark
{{- else }}
initial-color-theme=light
{{- end}}
shell=/usr/bin/fish
#shell=/home/tom/.local/bin/xonsh
#shell=/usr/bin/nu

gamma-correct-blending=yes

[cursor]
style=beam

[key-bindings]
color-theme-toggle=Control+L

[tweak]
# By default, foot attempts to check if the font selected is monospace.
# Disabling the check may decrease startup time. See man 5 foot.ini.
font-monospace-warn=no
# With gamma-correct-blending=yes, foot will try to use 10-bit or 16-bit color
# channels, which are significantly slower. 8-bit lowers color accuracy but
# restores speed (input latency and throughput). See man 5 foot.ini.
surface-bit-depth=8-bit

