[credential "https://github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
[user]
	name = twells46
	email = {{ .git_email }}
	signingkey = {{ .gpg_key_git }}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
