#--proxy socks5h://localhost:9050

--sub-langs en.*
--embed-subs

--sponsorblock-mark intro,outro,sponsor

--restrict-filenames

--sleep-requests 10
--sleep-interval 10
--max-sleep-interval 15
--sleep-subtitles 4

{{- if eq .chezmoi.hostname "Aragorn" }}
-S "+vcodec:avc"
--remux-video "mkv"
--js-runtimes bun
-f "bv*[height<=1080]+ba/b[height<=1080]"
{{- else }}
-f "bv+ba/b"
{{- end }}

-o "/home/tom/media/inbox/%(uploader)s/%(upload_date>%Y-%m-%d)s_%(title)s.%(ext)s"
#-o "/home/tom/media/inbox/%(uploader)s/%(playlist&{}|all)s/%(upload_date>%Y-%m-%d)s_%(title)s.%(ext)s"

#-o "/home/tom/media/inbox/%(uploader)s/%(playlist&{}|all)s/%(playlist_index&{}-|)s_%(title)s.%(ext)s"

#-o "/home/tom/media/inbox/%(playlist&{}|all)s/%(playlist_index&{}-|)s%(title)s.%(ext)s"
#-o "/home/tom/media/inbox/workout/%(title)s.%(ext)s"

#-f "bv*[height<=720]+ba/b[height<=720]"
#-o "/tmp/inbox/%(uploader)s/%(playlist_index&{}-|)s%(title)s.%(ext)s"
